p {
    position: relative;
    color: whitesmoke;
    display: block;
    margin: 10px 10px 10px 10px;
}

.box {
    position: absolute;
    float: left;
    width: 250px;
    height: 75px;
    background: black;
    top: 30%;
    left: 43%;
}

h1 {
    text-align: center;
}

body {
    font: 400 15px/1.8 "Lato", sans-serif;
    background-color: black;
}

.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: auto;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    .bg {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
}

.grow {
    transition: all .1s ease-in-out;
}

.grow:hover {
    transform: scale(1.5);
}

.tooltip-inner {
    max-width: 300px;
    /* If max-width does not work, try using width instead */
    width: 300px;
}

.img1 {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.wheel {
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.fb {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: 0;
    top: -90%;
    left: 10%;
    z-index: 2;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.sc {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin: 0;
    top: -105%;
    left: 44%;
    z-index: 2;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.gh {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: 0;
    top: -90%;
    left: 78%;
    z-index: 2;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.ig {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: 0;
    top: -6%;
    left: 44%;
    z-index: 2;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.li {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: 0;
    top: -22%;
    left: 10%;
    z-index: 2;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.xb {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: 0;
    top: -22%;
    left: 78%;
    z-index: 2;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.az {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: 0;
    top: -55%;
    left: 92%;
    z-index: 2;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.gc {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: 0;
    top: -55%;
    left: -4%;
    z-index: 2;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.center {
    color: whitesmoke;
    height: 10em;
    position: absolute;
    margin: 0;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.contact {
    background-color: #29292a;
    color: #fff;
    font-size: 16px;
    padding: 2em 0 3em;
    position: relative;
    text-align: center;
    z-index: 2;
}

div {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: maroon;
}