.center {
    color: whitesmoke;
    height: 10em;
    position: absolute;
    margin: 0;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#img1 {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    border-color: ghostwhite;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    margin: 0;
    top: 52%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

.navbar-custom {
  background-color: black;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0;
}
.navbar-toggle {
    z-index:3;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: red;
}

.navbar-custom .navbar-toggle {
  background-color: white;
}

.fb {
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: 64px;
  position: absolute;
  margin: 0;
  top: 30%;
  left: 34%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.fb:hover {
  opacity: 0.7;
}

.sc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin: 0;
  top: 16.8%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.sc:hover {
  opacity: 0.7;
}

.gh {
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: 64px;
  position: absolute;
  margin: 0;
  top: 30%;
  left: 66%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: red;
}

.gh:hover {
  opacity: 0.7;
}