.infront {
    background-color: red;
    top: 10px;
    left: 80px;
    z-index: 2;
  }
  .behind {
    background-color: coral;
    top: -60px;
    left: 35px;
    z-index: 1;
  }

.right1 {
    color: coral;
    text-align: right;
    top: 10px;
    right: 60px;
}

.right2 {
    color: coral;
    text-align: right;
    top: 10px;
    right: 40px;
}

.right3 {
    color: coral;
    text-align: right;
    top: 10px;
    right: 20px;
}

.center {
    color: coral;
    top: 25px;
    text-align: center;
}

.img1 {
    align: middle;
}

#intro {
    font-size: 1.3em;
}
.colorful {
    color: orange;
}

div {
    width: 80px;
    height: 100px;
    position: relative;
  }

body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
}
